@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Netflix";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/NetflixSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Varsity";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("/src/assets/fonts/VarsityRegular.woff2") format("woff2");
}

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: "Netflix", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: black;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100px;
  height: 100px;
}

.swiper-button-next,
.swiper-button-prev {
  color: #f78c1f !important;
}
